Source: secop
Section: admin
Priority: extra
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 12.0.0), cmake,
  pkg-config,
  libutils-dev (>= 1.5.18),
  libcrypto++-dev,
  libcppunit-dev,
  nlohmann-json3-dev
Standards-Version: 3.9.8
Homepage: http://www.openproducts.se

Package: secop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OP security application 
